	body {
		font-size: 18px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		margin: 0px;
		padding: 0px;
	}
	
	h1{
		

	}

	p{
		
	}

	img {
  display: block;
  margin: 0 auto;
}
	
	.imgindex{
		
	}
	
	#principal {
		
	}